@page
@model Dashkevich_90331.Areas.Admin.Pages.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Feed</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Feed.FeedName" class="control-label"></label>
                <input asp-for="Feed.FeedName" class="form-control" />
                <span asp-validation-for="Feed.FeedName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Feed.Description" class="control-label"></label>
                <input asp-for="Feed.Description" class="form-control" />
                <span asp-validation-for="Feed.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Feed.Weight" class="control-label"></label>
                <input asp-for="Feed.Weight" class="form-control" />
                <span asp-validation-for="Feed.Weight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Feed.Image" class="control-label"></label>
                <div class="custom-file mt-3">
                    <input type="file" asp-for="Feed.Image" class="custom-file-input" id="customFile">
                    <label class="custom-file-label"
                           for="customFile">Выберите файл</label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Feed.FeedGroupId" class="control-label"></label>
                <select asp-for="Feed.FeedGroupId" class="form-control" asp-items="ViewBag.FeedGroupId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts{
    <script src="~/js/bs-custom-file-input.js"></script>
    <script>
        bsCustomFileInput.init();
    </script>
}